/* Global Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* Header Section */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 20px;
    border-top: black solid 10px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;  
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li:hover{
    color: grey ;
    
}

.get-started {
    background-color: #FFBF23;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    border: black solid 1px;
    font-weight: bold;
}

.get-started:hover{
    background-color: black;
    color: #FFBF23 ; 
}

.hero-section {
    
    padding: 100px 20px;
    background-color: white;
}

.hero-section h1 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 65px;
  font-style: normal;
  margin-bottom: 20px;
}

.hero-section p {
    font-size: 25px;
    margin-bottom: 30px;
    font-family:"EB Garamon" , serif;
}

.get-started-btn {
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.get-started-btn:hover{
    background-color: #FFBF23;
    color: black;
    font-weight: bold;
    border: black solid 1px;
}

/* Features Section */
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
}

.feature-item {
    text-align: center;
}


/* yellow section */
.yellow {
    background-color: #FFBF23;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;    
}

/* What We Offer Section*/
.offer{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;    
}

/* game Section */
#game-section {
    display: flex;
    justify-content: space-between;
}

/* Trusted Section */
.trusted {
    text-align: center;
    padding: 50px 20px;
    background-color: #F8BBD0;
}

.trusted-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.trusted-logos img {
    max-width: 100px;
    margin: 20px;
}

/* Footer Section */
footer {
    text-align: center;
    padding: 20px;
    background-color: #424242;
    color: white;
}
